/*

	Example Styles
	@owebboy

*/
.example {
  width: 25%;
  height: 215px;
  margin-right: 10px;
  padding: 1em 5%;
  display: inline-block;
  float: left;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}
@media screen and (max-width: 600px) {
  .example {
    width: 100%;
    margin: 0;
    padding: 0;
    float: none;
  }
}
.no-top-border {
  border-top: 1px solid transparent;
}
.more-height {
  height: 315px;
}
