/*
 * Typographic Styles
 * @owebboy
 */

// colors
marsala = #955251
scuba-blue = #00B2CA
classic-blue = #1D4E89
tangerine = #F79256
lucite-green = #7DCFB6
custard = #EAD98B

steel = #666666
iron = #C6CBCC
oil = #333333
black = #000000

white = #FFFFFF

// text

html 
	font-family "Helvetica Neue", Arial, Helvetica, sans-serif;
	color steel
	font-kerning normal
	
html, body
	margin 0
	padding 0
		
*, *:before, *:after
	box-sizing border-box
	
p 
	font-weight 400
	font-size 1.05em
	margin 0
	
p, ol, ul
	line-height 1.75em

ol
	list-style decimal-leading-zero
	
li 
	list-style square

a
	color oil
	text-decoration none
	border-bottom 1px solid iron
	&:hover 
		border-color steel
		color black
		
code
	font-size .9em
	font-family Menlo, Consolas, Monaco, "Lucida Console", monospace

hr
	border 0
	border-bottom: 1px solid iron
	
.uppercase
	text-transform uppercase
	letter-spacing .25em
		
// headings

h1, h2, h3, h4, h5, h6
	font-weight 700
	
.title 
	margin 0
	font-weight 900
	font-size 2em
	
h1, .h1
	font-size 2.4em
	margin 0
h2, .h2
	font-size 1.75em
	margin 0
h3, .h3
	font-size 1.5em
	margin 0
h4, .h4
	font-size 1.25em
	margin 0
h5, .h5
	font-size 1.15em
	margin 0
h6, .h6
	font-size 1.5em
	margin 0

// dimensions

.wrapper
	padding 3em 5%
	@media screen and (max-width: 600px)
		padding 0
		
.none
	margin 0 !important
	padding 0 !important
		
// colors

.marsala
	color marsala
.bg-marsala
	background marsala
	
.scuba-blue
	color scuba-blue
.bg-scuba-blue
	background scuba-blue
	
.classic-blue
	color classic-blue
.bg-classic-blue
	background classic-blue
	
.tangerine
	color tangerine
.bg-tangerine
	background tangerine
	
.lucite-green
	color lucite-green
.bg-lucite-green
	background lucite-green
	
.custard
	color custard
.bg-custard
	background custard
	
.steel
	color steel
.bg-steel
	background steel
	
.iron
	color iron
.bg-iron
	background iron
	
.oil
	color oil
.bg-oil
	background oil
	
.black
	color black
.bg-black
	background black
	
.white
	color white
.bg-white
	background white